pygithub
junit2html
gcovr
xlsxwriter
ijson
unidiff
sh
pytest
pyyaml
tox
awscli
elasticsearch
west>=0.14.0
setuptools>=70.2.0
clang-format>=15.0.0
gitlint
junitparser>=2
lxml>=5.3.0
pykwalify
pylint>=3
python-magic-bin; sys_platform == "win32"
python-magic; sys_platform != "win32"
ruff==0.8.1
sphinx-lint
yamllint
